@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: grid;
    grid-template-columns: fit-content(8em) 2fr 1.5fr;
    gap: 1rem;
    align-items: baseline;

    @media all and ($mobile) {
      grid-template-columns: fit-content(8em) 1fr;
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }

    & .meta {
      margin: 0;
      opacity: 0.6;
      font-size: 0.85rem;
      white-space: nowrap;
    }

    & > .tags {
      justify-content: flex-end;
      align-items: center;
      gap: 0.35rem;
      margin: 0;
      padding: 0;

      & > li {
        margin: 0;
      }
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}
